<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Employee Page</title>
        <link rel="stylesheet" href="/EmployeePageCSS.css" />
        <link rel="stylesheet" href="/Accessibility.css" />
    </head>
    <body>
        <!-- dark blue bar and logo -->
        <header class="header-container">
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="Yi Fang Logo" class="logo" /></a>
            </div>
        </header>

        <div class="wrap-white-box">
            <div class="white-box stack">
                <h1>Welcome Back!</h1>
                <a class="button button-dark" href="/cashier">Place New Order</a>
                <a class="button button-dark" href="/manager">Manager View</a>
            </div>
        </div>

        
        <!-- dark blue bar and logo -->
        <footer class="header-container">
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="Yi Fang Logo" class="logo" /></a>
            </div>
        </footer>

        <%- include("accessibilityFeaturesPage") %>
        <script type="module" src="/js/ADHDFocus.js"></script>
        <script src="/js/translation.js"></script>
        <script src="/js/textToSpeech.js"></script>

        <script>
            try { localStorage.removeItem('yf_cart_v1'); } catch (e) {}
        </script>
    </body>
</html>
