<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Yi Fang Tea</title>
        <link rel="stylesheet" href="LandingPageCSS.css" />
        <link rel="stylesheet" href="/Accessibility.css" />
    </head>
    <body>
        <!-- dark blue bar and logo -->
        <header class="header-container">
            <nav class="nav-left">
                <a href="/menu">Order Here</a>
                <a href="/LogIn">Log In if Employee</a>
            </nav>
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="logo" class="logo" /></a>
            </div>
        </header>

        <!-- dark blue bar and logo -->
        <footer class="header-container">
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="Yi Fang Logo" class="logo" /></a>
            </div>
        </footer>

        <%- include("accessibilityFeaturesPage") %>
        <script type="module" src="/js/adhdFocus.js"></script>

        <script>
            try { localStorage.removeItem('yf_cart_v1'); } catch (e) {}
        </script>
    </body>
</html>
