<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Employee Login</title>
        <link rel="stylesheet" href="/LoginPageCSS.css" />
    </head>
    <body>
        <!-- dark blue bar and logo -->
        <header class="header-container">
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="Yi Fang Logo" class="logo" /></a>
            </div>
        </header>

        <div class="white-box-wrap">
            <h2>Employee Login</h2>
            <form id="loginForm">
                <div class="row">
                    <label for="employeeID">Employee ID:</label>
                    <input id="employeeID" name="employeeID" autocomplete="employeeID" required />
                </div>

                <div class="row">
                    <label for="password">Password:</label>
                    <input
                        id="password"
                        name="password"
                        type="password"
                        autocomplete="current-password"
                        required
                    />
                </div>

                <button id="login" class="login-button" type="buttoncl">Login</button>
            </form>
        </div>

        <!-- dark blue bar and logo -->
        <footer class="header-container">
            <div class="logo-container">
                <a href="/"><img src="/logo.png" alt="Yi Fang Logo" class="logo" /></a>
            </div>
        </footer>

        <script>
            document.getElementById('login').addEventListener('click', async (e) => {
                e.preventDefault();

                const employeeId = document.getElementById('employeeID').value;
                const password = document.getElementById('password').value;

                if (!employeeId || !password) {
                    alert('Please fill out both Employee ID and Password!');
                    return;
                }

                const res = await fetch('/api/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        employeeId: employeeId,
                        password: password,
                    }),
                });

                const data = await res.json();
                console.log(data);

                if (data.success) {
                    window.location.href = '/employee';
                    document.cookie = 'loggedIn=true; path=/; max-age=86400';
                } else {
                    alert(data.message);
                }
            });
        </script>
        <script>
            try {
                localStorage.removeItem('yf_cart_v1');
            } catch (e) {}
        </script>
    </body>
</html>
