/* expands the dark blue logo across whole page */
html,
body {
    margin: 0;
    padding: 0;
}

/* background color of website */
body {
    background: #fbf8f2;
}

/* CSS for dark blue header */
.header-container {
    background: #0b1320;
    color: #fff;
    width: 100%;
    padding: 12px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for img of logo */
.header-container .logo-container img.logo {
    height: 60px;
    display: block;
}

/* outer container for white box */
.wrap-white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 2rem;
}

/* white box that contains buttons */
.white-box {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* turns white box to a column so buttons are placed on top of each other */
.stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

/* CSS for button */
.button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease;
}

/* CSS for button */
.button-dark {
    background: #111827;
    color: #fff;
}

/* CSS for button */
.button-dark:hover {
    background: #333;
}
